<div class="container">
    <div class="row">
         <h2 class="text-white">Descripción Marca de Vehiculo</h2>
        <div class="col-md-4">
             {{> lowvehiculos/lowvehiculosForm}}
        </div>
       <div class="col-md-8">
           {{> lowvehiculos/lowvehiculosTable}}
       </div>
    </div>
   
</div>

{{> lowvehiculos/lowvehiculosModalProducto}}

<script src="/js/formularios/formlowvehiculos.js"></script>