<h2>Descripción de mercancias</h2>

{{> mercancias/mercanciasForm}}

{{> mercancias/mercanciasTable}}

<script src="/js/formularios/formularios.js"></script>
<script src="/js/formularios/formMercancias.js"></script>

