<h2>Descripción de mercancias</h2>

<form action="/mercancias/add" method="POST">
    
    <div class="formularioSection">
        <div class="formularioRow">
            <h3>Agregar Mercancia</h3>
        </div>
        <div class="formularioSection" id="formualrioMercancias">

        </div>
    </div>
</form>

