<div class="container">
    <div class="row">
         <h2 class="text-white">Descripción Marca de Vehiculo</h2>
        <div class="col-md-4">
             {{> brandvehiculos/brandvehiculosForm}}
        </div>
       <div class="col-md-8">
           {{> brandvehiculos/brandvehiculosTable}}
       </div>
    </div>
   
</div>

{{> brandvehiculos/brandvehiculosModalProducto}}

<script src="/js/formularios/formBrandVehiculos.js"></script>