<div class="container">
    <div class="row">
         <h2 class="text-white">Descripción Tipo de Vehiculo</h2>
        <div class="col-md-4">
             {{> typevehiculos/typevehiculosForm}}
        </div>
       <div class="col-md-8">
           {{> typevehiculos/typevehiculosTable}}
       </div>
    </div>
   
</div>

{{> typevehiculos/typevehiculosModalProducto}}

<script src="/js/formularios/formtypevehiculos.js"></script>