<div class="container">
    <div class="row">
         <h2 class="text-white">Descripción Seguro de Vehiculo</h2>
        <div class="col-md-4">
             {{> insurancecarrier/insurancecarrierForm}}
        </div>
       <div class="col-md-8">
           {{> insurancecarrier/insurancecarrierTable}}
       </div>
    </div>
   
</div>

{{> insurancecarrier/insurancecarrierModalProducto}}

<script src="/js/formularios/forminsurancecarrier.js"></script>