<div class="card card-body p-4 rounded-0 bg-dark text-white" >
  <form action="/lowvehiculos/add" method="POST">
    <h3>Añade una baja de vehiculo</h3>
    <div class="formularioSection" id="formualrioLowVehiculos">

      
    </div> 
  </form>

</div>