<div class="card card-body p-4 rounded-0 bg-dark text-white" >
  <form action="/brandvehiculos/add" method="POST">
    <h3>Añade un Vehiculo</h3>
    <div class="formularioSection" id="formualrioBrandVehiculos">

      
    </div> 
  </form>

</div>