<div class="modal fade" id="busquedaProductoModal" tabindex="-1" aria-labelledby="busquedaProductoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="busquedaProductoModalLabel">Busqueda de Productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="division-name" class="col-form-label">División:</label>
            <select name="division" class="form-control " id="division-name">
                <option value="">Seleccione division</option>
                 <option value="one">First</option>
  <option value="two" disabled="disabled">Second (disabled)</option>
  <option value="three">Third</option>
            </select>
           
          </div>
          <div class="mb-3">
            <label for="familia-name" class="col-form-label">Familia:</label>
            <select name="familia" class="form-control" id="familia-name">
                 <option value="">Selccione familia</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="clase-name" class="col-form-label">Clase:</label>
            <select name="clase" class="form-control" id="clase-name">
                 <option value="">Selccione clase</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="producto-name" class="col-form-label">Productose:</label>
            <select name="producto" class="form-control" id="producto-name">
                 <option value="">Selccione producto</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

