<div class="card card-body p-4 rounded-0 bg-dark text-white" >
  <form action="/mercancias/add" method="POST">
    <h3>Añade una mercancia</h3>
    <div class="formularioSection" id="formualrioMercancias">

      
    </div>
  </form>

</div>

