<div class="container">
    <div class="row">
         <h2 class="text-white">Descripción de Vehiculos</h2>
        <div class="col-md-4">
             {{> vehiculos/vehiculosForm}}
        </div>
       <div class="col-md-8">
           {{> vehiculos/vehiculosTable}}
       </div>
    </div>
   
</div>

{{> vehiculos/vehiculosModalProducto}}

<script src="/js/formularios/formVehiculos.js"></script>