<nav class="navbar  navbar-expand-lg  navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Inicio</a>
        <a href="/cartaporte" class="navbar-brand">Cartaporte</a>
        <a href="/guias" class="navbar-brand">Guias</a>
        <a href="/mercancias" class="navbar-brand">Mercancias</a>
    </div>
</nav>