<h2>Navbar</h2>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/cartaporte">Cartaporte</a></li>
    <li><a href="/guias">Guias</a></li>
     <li><a href="/mercancias">Mercancias</a></li>
</ul>