<div class="card card-body p-4 rounded-0 bg-dark text-white" >
  <form action="/typevehiculos/add" method="POST">
    <h3>Añade un Tipo de Vehiculo</h3>
    <div class="formularioSection" id="formualrioTypeVehiculos">

      
    </div> 
  </form>

</div>